﻿
@using GridMvc.Html;
@using EmployeesList.Models
@model IEnumerable<Employee>
@{
    ViewBag.Title = "Lista pracowników";
}

@if (TempData["SuccessMessage"] != null)
{
    <br />
    <div class="label-success">
        <h2>
            @TempData["SuccessMessage"]
        </h2>
    </div>
    <br />
}
@if (TempData["FailMessage"] != null)
{
    <br />
    <div class="label-danger">
        <h2>
            @TempData["FailMessage"]
        </h2>
    </div>
    <br />
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/Gridmvc.css")" rel="stylesheet" />
    <script src="@Url.Content("~/Scripts/jquery-3.4.1.min.js")"></script>
    <script src="@Url.Content("~/Scripts/gridmvc.min.js")"></script>
    <title>Lista pracowników</title>
</head>

<body>

    <br />
    <div>

        @Html.Grid(Model).SetLanguage("pl").Columns(columns =>
   {
       columns.Add(c => c.name).Titled("Imię");
       columns.Add(c => c.surname).Titled("Nazwisko");
       //columns.Add(c => c.birthdate).Format("{0:dd/MM/yyyy}").Titled("Data urodzenia");
       columns.Add(c => c.age).Titled("Wiek");
       columns.Add(c => c.position).Titled("Stanowisko");
       columns.Add(c => c.salary).Titled("Wynagrodzenie");
       columns.Add(c => c.nip).Titled("NIP");
       columns.Add().Encoded(false).Sanitized(false).SetWidth(30)
            .RenderValueAs(c => @Html.ActionLink("Edytuj", "Edit", new { id = c.id }));
       columns.Add().Encoded(false).Sanitized(false).SetWidth(30)
            .RenderValueAs(c => @Html.ActionLink("Usuń", "Delete", new { id = c.id }));
   }).WithPaging(5).Sortable(true).Filterable().WithMultipleFilters()

    </div>
    @section scripts {
        <script src="~/Scripts/gridmvc.min.js"></script>
        <script src="~/Scripts/gridmvc.lang.pl.js"></script>
        <script>
            $(function () {
                pageGrids.employeeGrid.lang = GridMvc.lang.pl;
            });
        </script>
    }
</body>
</html>
